<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tuto-php/

    # Ignore les fichiers et répertoires réels
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige toutes les demandes vers index.php
    #RewriteRule ^ index.php [L]
    RewriteRule ^index/(.*)$ public/$1 [L]
    RewriteRule ^(.*)$ public/index.php [L]

</IfModule>